In [51]:
import os

import pandas as pd

In [58]:
df_paths = [i for i in os.listdir("./s9_csv/csv_clean/") if i.endswith(".csv") and "$" not in i]
df_paths.sort()
df_paths, len(df_paths)

(['Bengal Warriors s9 conv_clean.csv',
  'Bengaluru Bulls s9 conv_clean.csv',
  'Dabang Delhi s9 conv_clean.csv',
  'Gujarat Fortunegiants s9 conv_clean.csv',
  'Jaipur Pink Panthers s9 conv_clean.csv',
  'Patna Pirates s9 conv_clean.csv',
  'Puneri Paltan s9 conv_clean.csv',
  'Tamil Thailaivas s9 conv_clean.csv',
  'Telugu Titans s9 conv_clean.csv',
  'U Mumba s9 conv_clean.csv',
  'UP Yoddha s9 conv_clean.csv',
  'harayana s9 conv_clean.csv'],
 12)

In [53]:
# for x in df_paths:
#     print(x.split("s6")[0])

In [59]:
season_name = 's9'

df_merged_list = []
df_0 = pd.read_csv("./s9_csv/csv_clean/" + df_paths[0])

df_0["team_name"] = df_paths[0].split(season_name)[0].strip()
df_0["season"] = "PKL-0" + season_name[-1]
df_merged_list.append(df_0)

In [60]:
df_paths[0].split("s9")[0].strip()

'Bengal Warriors'

In [61]:
print(df_paths, len(df_paths), len(df_merged_list))

['Bengal Warriors s9 conv_clean.csv', 'Bengaluru Bulls s9 conv_clean.csv', 'Dabang Delhi s9 conv_clean.csv', 'Gujarat Fortunegiants s9 conv_clean.csv', 'Jaipur Pink Panthers s9 conv_clean.csv', 'Patna Pirates s9 conv_clean.csv', 'Puneri Paltan s9 conv_clean.csv', 'Tamil Thailaivas s9 conv_clean.csv', 'Telugu Titans s9 conv_clean.csv', 'U Mumba s9 conv_clean.csv', 'UP Yoddha s9 conv_clean.csv', 'harayana s9 conv_clean.csv'] 12 1

In [62]:
for i in range(1, len(df_paths)):
    df = pd.read_csv("./s9_csv/csv_clean/" + df_paths[i])
    print(df_paths[i].split(season_name)[0].strip())
    df["team_name"] = df_paths[i].split(season_name)[0].strip()
    df["season"] = "PKL-0" + season_name[-1]
    df_merged_list.append(df)

Bengaluru Bulls
Dabang Delhi
Gujarat Fortunegiants
Jaipur Pink Panthers
Patna Pirates
Puneri Paltan
Tamil Thailaivas
Telugu Titans
U Mumba
UP Yoddha
harayana

In [63]:
df_merged = pd.concat(df_merged_list, axis=0, ignore_index=True)

In [64]:
len(df_merged[df_merged["team_name"] == "UP Yoddha"])

68

In [65]:
df_up = pd.read_csv(f"./s9_csv/csv_clean/" + f"UP Yoddha {season_name} conv_clean.csv")
print(len(df_up))

df_merged.columns.tolist()

68

['Raider Name',
 'Number of Defenders',
 'Total Raids',
 '% of Raids',
 'Empty',
 'Successful',
 'Unsuccessful',
 'team_name',
 'season']

In [66]:
df_merged.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 724 entries, 0 to 723
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Raider Name          190 non-null    object
 1   Number of Defenders  724 non-null    int64
 2   Total Raids          724 non-null    int64
 3   % of Raids           724 non-null    object
 4   Empty                552 non-null    object
 5   Successful           507 non-null    object
 6   Unsuccessful         505 non-null    object
 7   team_name            724 non-null    object
 8   season               724 non-null    object
dtypes: int64(2), object(7)
memory usage: 51.0+ KB

In [67]:
df_merged = df_merged[['season','team_name','Raider Name',
 'Number of Defenders',
 'Total Raids',
 '% of Raids',
 'Empty',
 'Successful',
 'Unsuccessful']]

In [68]:
df_merged.head()

,season,team_name,Raider Name,Number of Defenders,Total Raids,% of Raids,Empty,Successful,Unsuccessful
0,PKL-09,Bengal Warriors,Ajinkya Kapre,4,12,40%,50.00%,16.70%,33.30%
1,PKL-09,Bengal Warriors,NaN,5,5,17%,20.00%,NaN,80.00%
2,PKL-09,Bengal Warriors,NaN,6,3,10%,33.30%,66.70%,NaN
3,PKL-09,Bengal Warriors,NaN,7,10,33%,30.00%,20.00%,50.00%
4,PKL-09,Bengal Warriors,Akash Pikalmunde,5,2,14%,NaN,NaN,100.00%

In [69]:
df_merged.to_csv("./s9_csv/merged_csv_s9_clean.csv", index=False)